@import "variables";

header {
  position: relative;
  z-index: 1;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $secondary-color;
  }

  li {
    float: left;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;

      &:hover {
        background-color: $accent-color;
      }
    }

    &:hover ul {
      display: block;
    }

    ul {
      display: none;
      position: absolute;

      li {
        display: block;
        float: none;
      }
    }
  }
}
