@import "variables";

.iframe-container {
  width: 100%;
  min-width: 260px;
  max-width: 800px;

  @include large {
    float: left;
    margin-right: 16px;
  }

  div {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.svg-container {
  text-align: center;

  svg {
    max-width: min(400px, 100%);

    @include medium-and-large {
      float: right;
      margin-left: 16px;
    }

    #box {
      animation: 5s infinite rectangle-color;
    }
    #letters {
      animation: 5s infinite letters-color;
    }
  }
}

@keyframes rectangle-color {
  from {
    fill: #cf1928;
  }
  33% {
    fill: #f9f9f9;
  }
  66% {
    fill: #000000;
  }
  to {
    fill: #cf1928;
  }
}

@keyframes letters-color {
  from {
    fill: #f9f9f9;
  }
  33% {
    fill: #000000;
  }
  66% {
    fill: #f9f9f9;
  }
  to {
    fill: #f9f9f9;
  }
}