@import "variables";

body {
  color: $primary-color;
  background: $tertiary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: 8px;
}

a, span {
  color: $accent-color;
}

h1, h2, h3, p, body {
  font-family: 'Libre Franklin Variable', sans-serif;
}

p, body {
  font-size: 1.125em;
}

q {
  font-style: italic;
  margin-left: 16px;
}

img {
  max-width: 100%;
}

.wrapped-image {
  max-width: min(800px, 100%);

  @include large {
    float: right;
    margin-left: 16px;
  }
}