:root {
    --primary-color: #640404;
    --secondary-color: #0c0c0c;
    --tertiary-color: #960202;
    --accent-color: #fc7c7c;
}

body {
    height: 100vh;
    color: var(--secondary-color);
    background: var(--tertiary-color);
}

a {
    color: var(--accent-color);
}