@import "variables";

body {
  color: $secondary-color;
  background: $tertiary-color;
}

a, span {
  color: $accent-color;
}

h1, h2, h3, p, body {
  font-family: 'Libre Franklin Variable', sans-serif;
  font-size: 1.125em;
}

img {
  max-width: 100%;
}