$primary-color: #A4133C;
$secondary-color: #590D22;
$tertiary-color: #FFF0F3;
$accent-color: #FF758F;

@mixin small {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}